body {
  background: transparent;
  font-family: 'EncodeSans';
}
._section_1qwfy_341 {
  max-width: none;
  padding: 0 10px;
}
[class*='_titles_'] {
  display: none;
}

[class*='_section_'] {
  background: transparent;
}

[class*='_content_'] {
  padding: 0;
}
[class*='_filtersContainer_'] {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
[class*='_filtersOpen_'] {
  background: #ffffff;
  color: #2b2b2f;
}

[class*='_filter_'] {
  padding: 12px 30px 12px 20px;
  background: transparent;
  height: 48px;
  border: 1px solid #b0b0b8;
  color: #515259;
}
[class*='_filter_']:focus-visible,
[class*='_filterActive_'] {
  box-shadow: none;
  border-color: #515259 !important;
  color: #515259 !important;
}
[class*='_filterDownIcon_'] {
  display: none;
}
[class*='_filterIconContainer_'] {
  right: 16px;
}
[class*='_filterIconContainer_']:before {
  content: '';
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #2b2b2f;
  border-right: 1px solid #2b2b2f;
  transform: rotate(45deg) translate(-2px, 0);
}
[class*='_filter_'] option {
  color: #515259;
}
[class*='_filtersHeader_'] {
  margin-bottom: 9px;
}

[class*='_filtersLabel_'] {
  font-size: 16px;
  font-weight: 500;
  color: #888890;
}

[class*='_departmentHeading_'] {
  color: #2b2b2f;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 24px;
  font-size: 19px;
}
[class*='_jobPosting_'] {
  background: transparent;
  padding: 8px 0 8px;
  box-shadow: none;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0;
  margin-bottom: 18px;
}
[class*='_jobPosting_']:hover {
  background: transparent;
}
[class*='_jobPosting_'] [class*='_title_'] {
  color: #2b2b2f;
  font-weight: 500;
  font-size: 16px;
}

[class*='_jobPosting_'] [class*='_details_'] {
  color: #888890;
  margin-top: 7px;
}

footer {
  display: none !important;
}

@media screen and (max-width: 767px) {
  [class*='_jobPosting_'] [class*='_title_'],
  [class*='_jobPosting_'] [class*='_details_'] {
    font-size: 14px;
  }
}
