body {
  background: transparent;
  --color: #2b2b2f;
  --color-100: #888890;
  --selectBg: transparent;
  --selectBorder: 1px solid #b0b0b8;
  --selectColor: #515259;
  --selectDropdownColor: #404146;
}
._section_1qwfy_341 {
  max-width: none;
}
[class^='_titles_'] {
  display: none;
}

[class*='_section_'] {
  background: transparent;
}

[class*='_content_'] {
  padding: 0;
}
[class*='_filtersContainer_'] {
  padding-left: 0;
  padding-right: 0;
}

[class*='_filter_'] {
  padding: 12px 30px 12px 20px;
  background: var(--selectBg);
  border: var(--selectBorder);
  color: var(--selectColor);
}
[class*='_filterDownIcon_'] {
  color: var(--color);
}

[class*='_filter_'] option {
  color: var(--selectDropdownColor);
}

[class*='_departmentHeading_'] {
  color: var(--color);
  margin-left: 0;
  margin-right: 0;
}
[class*='_jobPosting_'] {
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*='_jobPosting_']:hover {
  background: transparent;
}
[class*='_jobPosting_'] [class*='_title_'] {
  color: var(--color);
}

[class*='_jobPosting_'] [class*='_details_'] {
  color: var(--color-100);
}

footer {
  display: none !important;
}
