body {
  background: transparent;
  --color: #2b2b2f;
  --selectBg: transparent;
  --selectBorder: 1px solid #b0b0b8;
  --selectColor: #515259;
}

body.DARK {
  --color: #ededf0;
  --selectBg: transparent;
  --selectBorder: 1px solid #404146;
  --selectColor: #cacad2;
}
._section_1qwfy_341 {
  max-width: none;
}
[class^='._titles_'] {
  display: none;
}

[class^='._container_'] {
  background: transparent;
}

[class^='._filter_'] {
  padding: 12px 30px 12px 20px;
  background-color: var(--selectBg);
  border: var(--selectBorder);
  color: var(--selectColor);
}
[class^='._departmentHeadingLevel_'] {
  color: var(--color);
}
